{% extends "base.html" %}

{% block title %}Головне меню{% endblock %}

{% block content %}
    <h2>Каталог Лабораторних Робіт</h2>
    <p style="text-align: center; margin-bottom: 25px;">Оберіть потрібну роботу зі списку нижче:</p>
    
    <a href="/lab1" class="menu-btn">Лабораторна робота №1 (Генератор Лемера)</a>
    <a href="/lab2" class="menu-btn">Лабораторна робота №2 (Алгоритм MD5)</a>
    <a href="/lab3" class="menu-btn">Лабораторна робота №3 (Алгоритм RC5)</a>
    <a href="/lab4" class="menu-btn">Лабораторна робота №4 (Алгоритм RSA)</a>
    <a href="/lab5" class="menu-btn">Лабораторна робота №5 (Алгоритм DSS)</a>


{% endblock %}